<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961475424611-lirqs19j42a7khms0n3v8glqo70pok6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961475424611-lirqs19j42a7khms0n3v8glqo70pok6j</string>
	<key>API_KEY</key>
	<string>AIzaSyDni2aTyn4Jnly7rQAS2spqgMdxqggruZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>961475424611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BL.Winter-AR</string>
	<key>PROJECT_ID</key>
	<string>arhackyimages</string>
	<key>STORAGE_BUCKET</key>
	<string>arhackyimages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961475424611:ios:a3e51c5c0af19552c3a356</string>
</dict>
</plist>